@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .text-color-default {
    @apply text-on-background dark:text-dark-on-background/90;
  }

  .text-color-primary {
    @apply text-primary dark:text-dark-primary;
  }

  .surface-default {
    @apply bg-surface dark:bg-dark-surface/80;
  }

  .surface-default-hover {
    @apply bg-surface dark:bg-dark-surface/20;
  }

  .dashboard-container {
    @apply mx-12;
  }

  .card-border {
    @apply border border-border-default dark:border-dark-border-default;
  }

  .card-border-hover {
    @apply border border-primary/20 dark:border-dark-primary/20;
  }

  .header-border {
    @apply border-b border-border-default dark:border-dark-border-default;
  }

  .button-primary {
    @apply prose-default bg-primary dark:bg-dark-primary text-on-primary dark:text-dark-on-primary;
  }

  .button-primary-hover {
    @apply bg-primary/80 dark:bg-dark-primary/80 text-on-primary dark:text-dark-on-primary;
  }

  .button-primary-variant {
    @apply prose-default bg-primary-variant dark:bg-dark-primary-variant text-on-primary dark:text-dark-on-primary;
  }

  .button-secondary {
    @apply prose-default bg-secondary dark:bg-dark-secondary text-on-secondary dark:text-dark-on-secondary;
  }

  .listbox-primary {
    @apply hover:bg-opacity-60 hover:bg-primary hover:dark:bg-dark-primary hover:text-on-primary hover:dark:text-dark-on-primary;
  }

  .prose-default {
    @apply text-color-default prose sm:prose-sm md:prose-base lg:prose-lg 2xl:prose-xl;
  }
}
